*
!pom.xml
!README.md
!BUILD.md
!CREDITS.txt
!COPYING.txt
!.gitignore
!releaser
!releaser/*.sh
!releaser/icon.png

# Build script
!build-script
!build-script/pom.xml
!build-script/src
!build-script/src/**

# Other
!attic
!attic/**

# Documentation
!doc
!doc/**

# Main application
!app
!app/pom.xml
!app/src
!app/src/**

# IO library
!io
!io/pom.xml
!io/src
!io/src/**

# MiniVM library
!minivm
!minivm/pom.xml
!minivm/src
!minivm/src/**

# Backends
!releaser/javase
!releaser/javase/pom.xml
!releaser/android
!releaser/android/pom.xml
!releaser/metadata
!releaser/metadata/pom.xml

# Test dir
!app/test-out
!app/test-out/placeholder

