*
!build.gradle
!README.md
!.gitignore
!src
!src/
!src/main
!src/main/
!src/main/resources
!src/main/java

# assets
!src/main/resources/*

# stuff in assets
!src/main/resources/*/*

# stuff in schema subdirs
!src/main/resources/*/*/*

!src/main/java/*
!src/main/java/*/*
!src/main/java/*/*/*
!src/main/java/*/*/*/*
!src/main/java/*/*/*/*/*
!src/main/java/*/*/*/*/*/*
!src/main/java/*/*/*/*/*/*/*
!src/main/java/*/*/*/*/*/*/*/*
